@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

body{
    background: #f3feb0;
    font-family: 'Patrick Hand', 'Arial', 'Times New Roman';
}

fieldset{
    width: 25px;
    border: solid #812f33 2px;
}

legend{
    font-size: 150%;
}

label{
    font-size: 20px;
    display: block; /*Cada elemento em uma linha - sem precisar do <br> */
}

.botao{
    float: right;
    width: auto; /*A lagura é automaticamente definida pelo texto*/
    font-family: 'Patrick Hand', 'Arial', 'Times New Roman';
}

.limpar{
    background-color: #812f33;
    border: none; /*Remove a borada padrão*/
    color: #FFFFFF;
    font-size: 9px;
    text-align: center;
    margin-top: 16px;
    padding: 4px;
    font-family: inherit; /*herda do principal*/
}