@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    background-color: gray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    text-transform: small-caps;
}

header > p {
    font-size: 1.2em;
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: aliceblue;
    color: black;
}

section.image {
    background-color: rgb(51, 49, 49);
    color: white;
}

section.image > p {
    background-color: rgba(0, 0, 0, 0.507);
    width: 400px;
    font-size: 1.2em;
    padding: 20px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
}